.bg-grey {
  background: #e5e7eb;
  width: Fill (232px);
  height: Hug (48px);
  padding: 12px;
  border-radius: 8px;
}
/* .bg-grey-h :hover {
  background: #e5e7eb;
  margin: 10px;
} */
.bg-orange {
  background-color: var(--orange-head) !important;
}
